# Dockerfile for launch environments variables
URL_API=api.url

# Dockerfile for build arguments
HTTP_PROXY=http://username:pass@ip:8080
HTTPS_PROXY=https://username:pass@ip:8080
NO_PROXY=localhost,*.local

# ENV Variables for the npm build in the docker build statment and in the npm start
DEFAULT_LOCALE=es
